<div class="center jumbotron">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/advertising">Advertising</a></li>
      <li role="presentation" class="active"><a href="/marketing">Marketing</a></li>
      <li role="presentation"><a href="/social_impact">Social Impact</a></li>
    </ul>

        
    <h1>Marketing Campaigns</h1>
    <ul>
        <li class="header-li">Create marketing campaigns with specific themes</li>
        <li class="header-li">Use ad targeting to reach specific audiences</li>
    </ul>
    
    
    <div class="wrap">
        <div class="row">
          <div class="col-md-12">
              <span class="profile-name">Campaign 1</span>
		  </div>    
        </div>        
	    <div class="row">
          <div class="col-md-6 center"> 
            <h4 class="campaign-header">Target everyone interested in</h4>
            <ul>
                <% @master_json['marketing']['everyone']['interests'].each do |interest| %>
                <li class="campaign-item"><%= interest =%></li>
                <% end %>
            </ul>
	      </div>
          <div class="col-md-6 center">    
            <h4 class="campaign-header">Try to mention</h4>
            <ul>
                <% @master_json['marketing']['everyone']['themes'].each do |themes| %>
                <li class="campaign-item"><%= themes =%></li>
                <% end %>
            </ul>
	      </div>
	    </div>
	</div>	  

    

    <div class="wrap">
        <div class="row">
          <div class="col-md-12">
              <span class="profile-name">Campaign 2</span>
		  </div>    
        </div>        
	    <div class="row">
          <div class="col-md-6 center"> 
            <h4 class="campaign-header">Target WOMEN interested in</h4>
            <ul>
                <% @master_json['marketing']['female']['interests'].each do |interest| %>
                <li class="campaign-item"><%= interest =%></li>
                <% end %>
            </ul>
	      </div>
          <div class="col-md-6 center">    
            <h4 class="campaign-header">Try to mention</h4>
            <ul>
                <% @master_json['marketing']['female']['themes'].each do |themes| %>
                <li class="campaign-item"><%= themes =%></li>
                <% end %>
            </ul>
	      </div>
	    </div>
	</div>	  

    
    <div class="wrap">
        <div class="row">
          <div class="col-md-12">
              <span class="profile-name">Campaign 3</span>
		  </div>    
        </div>        
	    <div class="row">
          <div class="col-md-6 center"> 
            <h4 class="campaign-header">Target MEN interested in</h4>
            <ul>
                <% @master_json['marketing']['male']['interests'].each do |interest| %>
                <li class="campaign-item"><%= interest =%></li>
                <% end %>
            </ul>
	      </div>
          <div class="col-md-6 center">    
            <h4 class="campaign-header">Try to mention</h4>
            <ul>
                <% @master_json['marketing']['male']['themes'].each do |themes| %>
                <li class="campaign-item"><%= themes =%></li>
                <% end %>
            </ul>
	      </div>
	    </div>
	</div>	  
    

    <div class="wrap">
        <h3>Target Geographic Regions</h3>
        <ul>
            <% @master_json['marketing']['geo'].each do |geo| %>
            <li class="header-li"><%= geo =%></li>
            <% end %>
        </ul>
        <img class="geo-pic" src="/assets/<%= @master_json['raw_profile']['id'] =%>.followermap.png"></img>
    </div>

    <div class="wrap">
        <h3>User Profile Keywords</h3>
        <img class="wc-pic" src="/assets/<%= @master_json['raw_profile']['id'] =%>.wordcloud.png"></img>
    </div>

    
</div>